body {
	font-size: 87.5%;
	background: #2d2d2d url('images/background.png') no-repeat scroll center top;
}
a, a:visited {
	text-decoration: none;
	color: #989898;
}
a:hover {
	color: #bcbcbc;
	text-decoration: none;
	border-bottom: 1px solid #fff;
}
#page {
	margin: 0 auto;
}

#masthead {
	background: transparent url('images/header.png') repeat-x scroll left top;
	height: 140px;
	padding-top: 16px;
}

.header-main .container {
	position: relative;
}
.header-main .main-navigation {
	position: absolute;
	top: 58px;
	right: 0;
}
.header-main .main-navigation #menu-main-navigation {
	float: right;
}
.header-main .main-navigation .menu-item {
	margin-left: 1em;	
	font-size: 115%;
}
.header-main a:hover {
	border-bottom: solid #989898 2px;
	padding-bottom: 2px;
}

/* single series */
.series-head {
	margin-bottom: 18px;
}

#secondary h1 {
	font-size: 14px; 
	font-weight: bold;
}
#secondary ul {
	list-style: none;
	margin-left: 0;
}

.entry-title {
	margin-bottom: .75em;
}
#lightbox a {
	border: 0 none;
}
